.box-scan-div{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box-scan-span{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.button-scan-1{
    border: solid 1px #000;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
}
.box-scan-fotos{
  width: 278px;
  height: 38%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}
.box-scan-photo{
  width: 100%;
}
.box-scan-button{
    height: 197px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button-scan {
    align-items: center;
    background-color: #000000;
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    width: 200px;
    margin-top: 16px;
  }
  
  .button-scan:hover,
  .button-scan:focus {
    background-color: #0c0c0c;
    color: #ffffff;
  }
  
  .button-scan:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }
  
  .button-scan:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }
  
  