.box-scan-div{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.css-b62m3t-container {
  width: 100%;
}
.cadastro-caixa{
  width: 100%;
  height: 30px;
  /* border: 1px solid #000;
  border-radius: 7px; */
}
img.button-voltar {
  position: fixed;
  width: 29px;
  height: 29px;
  top: 10%;
  left: 28px;
  cursor: pointer;
}
.box-scan-span{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.button-scan-1{
    border: solid 1px #000;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
}
.box-scan-fotos{
  width: 278px;
  height: 38%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

}
.box-scan-photo{
  width: 100%;
}
.box-scan-button{
  width: 286px;
  height: 197px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.button-65 {
  width: 250px;
  appearance: none;
  backface-visibility: hidden;
  background-color: #007BC0;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-65:hover {
  background-color: #036fad;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button-65:hover:after {
  opacity: .5;
}

.button-65:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.button-65:active:after {
  opacity: 1;
}


#imgUpload::-webkit-file-upload-button {
  visibility: hidden;
}
#imgUpload::before {
content: 'Clique e selecione a imagem';
padding: 5px 8px;
outline: none;
font-size: 10pt;
}

#enviar-button{
  width: 198px;
    height: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 46px;
}